<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kb.review.mapper.ReviewMapper">

    <select id="findAll" resultType="com.kb.review.vo.UserReview">
        <![CDATA[
            SELECT * FROM USER_REVIEW
        ]]>
    </select>

    <select id="findAllByRoomId" resultType="com.kb.review.vo.UserReview">
        <![CDATA[
            SELECT REVIEW_CONTENT FROM USER_REVIEW WHERE ROOM_ID = #{roomId}
        ]]>
    </select>
</mapper>