<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kb.room.mapper.RoomMapper">

    <!-- Room Result Map 정의 -->
    <resultMap id="roomResultMap" type="com.kb.room.dto.Room">
        <id property="roomId" column="room_id"/>
        <result property="userId" column="user_id"/>
        <result property="roomCnt" column="room_cnt"/>
        <result property="roomName" column="room_name"/>
        <result property="floor" column="floor"/>
        <result property="houseTypeCd" column="house_type_cd"/>
        <result property="houseTypeNms" column="house_type_nms"/>
        <result property="genderCd" column="gender_cd"/>
        <result property="tags" column="tags"/>
        <result property="imgId" column="img_id"/>
        <result property="roomAddr" column="room_addr"/>
        <result property="roomAddrFl" column="room_addr_fl"/>
        <result property="roomLat" column="room_lat"/>
        <result property="roomLong" column="room_long"/>
        <result property="depositMax" column="deposit_max"/>
        <result property="depositMin" column="deposit_min"/>
        <result property="priceMax" column="price_max"/>
        <result property="priceMin" column="price_min"/>
        <result property="isSoldOut" column="IS_SOLD_OUT"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
        <result property="maintainCost" column="maintain_cost"/>
    </resultMap>

    <resultMap id="reviewResultMap" type="com.kb.room.dto.UserReview">
        <id property="reviewId" column="REVIEW_ID"/>
        <result property="roomId" column="ROOM_ID"/>
        <result property="userId" column="USER_ID"/>
        <result property="reviewContent" column="REVIEW_CONTENT"/>
        <result property="createdAt" column="CREATED_AT"/>
        <result property="isDeleted" column="IS_DELETED"/>
    </resultMap>



    <!-- 위치를 기준으로 고시원을 찾는 쿼리 -->
    <select id="findGosiwonsByLocation" resultType="com.kb.room.dto.Room">
        <![CDATA[
        SELECT *,
               (6371 * acos(cos(radians(#{lat}))
                                * cos(radians(room_lat))
                                * cos(radians(room_long) - radians(#{lng}))
                   + sin(radians(#{lat}))
                                * sin(radians(room_lat)))) AS distance
        FROM oneroom
        WHERE house_type_cd IN ('HOUTP00001', 'HOUTP00003')
    ]]>

        <if test="gender != null and gender != ''">
            <![CDATA[
        AND gender_cd = #{gender}
        ]]>
        </if>

        <if test="deposit != null and deposit != ''">
            <![CDATA[
        AND deposit_max <= #{deposit}
        ]]>
        </if>

        <if test="price != null and price != ''">
            <![CDATA[
        AND price_max <= #{price}
        ]]>
        </if>

        <if test="loanType != null and loanType != ''">
            <![CDATA[
        AND tags LIKE CONCAT('%', #{loanType}, '%')
        ]]>
        </if>

        <![CDATA[
        HAVING distance < 1
        ORDER BY distance;
    ]]>
    </select>

    <select id="findOneGosiwon" resultMap="roomResultMap">
        select *
        from oneroom
        where room_id = #{id}
    </select>

    <insert id="insertReply" parameterType="com.kb.room.dto.UserReview">
        INSERT INTO USER_REVIEW (ROOM_ID, USER_ID, REVIEW_CONTENT, CREATED_AT, IS_DELETED)
        VALUES (#{roomId}, #{userId}, #{reviewContent}, NOW(), #{isDeleted})
    </insert>

    <select id="findFavoriteCnt" resultType="int">
        select count(*)
        from INTEREST_ROOM
        where room_id = #{roomId}
    </select>

    <select id="findAllReview" resultMap="reviewResultMap" parameterType="Long">
        SELECT *
        FROM USER_REVIEW
        WHERE room_id = #{roomId} AND is_deleted = 'N'
    </select>


</mapper>
