<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kb.room.mapper.RoomMapper">

    <!--  ROOM_VO  -->
    <resultMap id="room" type="com.kb.room.vo.Room">
        <id property="roomId" column="ROOM_ID"/>
        <result property="userId" column="USER_ID"/>
        <result property="roomLat" column="ROOM_LAT"/>
        <result property="roomLong" column="ROOM_LONG"/>
        <result property="thumbnail" column="THUMBNAIL"/>
        <result property="address" column="ADDRESS"/>
        <result property="houseTypeCd" column="HOUSE_TYPE_CD"/>
        <result property="houseTypeNm" column="HOUSE_TYPE_NM"/>
        <result property="dongliNm" column="DONG_LI_NM"/>

        <result property="roomCnt" column="ROOM_CNT" />
        <result property="roomName" column="ROOM_NAME" />
        <result property="roomAddrFl" column="ROOM_ADDR_FL" />
        <result property="canLoan" column="CAN_LOAN"/>
        <result property="postcode" column="POSTCODE" />

        <result property="privateFacilities" column="PRIVATE_FACILITIES" />
        <result property="services" column="SERVICES" />
        <result property="languages" column="LANGUAGES" />
        <result property="etc" column="ETC" />
        <result property="description" column="DESCRIPTION" />
        <result property="pics" column="PICS" />

        <result property="contractMin" column="CONTRACT_MIN" />

        <!-- FACILITY INFO -->
        <result property="facilityHeating" column="FACILITY_HEATING" />
        <result property="facilityCooling" column="FACILITY_COOLING" />
        <result property="facilityLife" column="FACILITY_LIFE" />
        <result property="facilitySecurity" column="FACILITY_SECURITY" />

        <!-- BUILDING INFO -->
        <result property="buildingType" column="BUILDING_TYPE" />
        <result property="canParking" column="CAN_PARKING" />
        <result property="hasElevator" column="HAS_ELEVATOR" />

        <!-- SOLD OUT -->
        <result property="isSoldOut" column="IS_SOLD_OUT" />

        <result property="createdAt" column="CREATED_AT"/>
        <result property="updatedAt" column="UPDATED_AT"/>
    </resultMap>

    <!--  ROOM for MAP  -->
    <resultMap id="roomForMap" type="com.kb.room.vo.Room">
        <id property="roomId" column="ROOM_ID"/>
        <result property="userId" column="USER_ID"/>
        <result property="roomLat" column="ROOM_LAT"/>
        <result property="roomLong" column="ROOM_LONG"/>
        <result property="thumbnail" column="THUMBNAIL"/>
        <result property="address" column="ADDRESS"/>
        <result property="houseTypeCd" column="HOUSE_TYPE_CD"/>
        <result property="houseTypeNm" column="HOUSE_TYPE_NM"/>
        <result property="dongliNm" column="DONG_LI_NM"/>

        <result property="roomCnt" column="ROOM_CNT" />
        <result property="roomName" column="ROOM_NAME" />
        <result property="roomAddrFl" column="ROOM_ADDR_FL" />

        <result property="canLoan" column="CAN_LOAN"/>

        <result property="privateFacilities" column="PRIVATE_FACILITIES" />
        <result property="services" column="SERVICES" />
        <result property="languages" column="LANGUAGES" />
        <result property="etc" column="ETC" />

        <result property="priceMin" column="PRICE_MIN" />
        <result property="priceMax" column="PRICE_MAX" />
        <result property="depositMin" column="DEPOSIT_MIN" />
        <result property="depositMax" column="DEPOSIT_MAX" />
        <result property="maintenanceFee" column="MAINTENANCE_FEE" />
        <result property="contractMin" column="CONTRACT_MIN" />

        <!-- BUILDING INFO -->
        <result property="buildingType" column="BUILDING_TYPE" />
        <result property="canParking" column="CAN_PARKING" />
        <result property="hasElevator" column="HAS_ELEVATOR" />

        <!-- SOLD OUT -->
        <result property="isSoldOut" column="IS_SOLD_OUT" />

        <result property="createdAt" column="CREATED_AT"/>
    </resultMap>

    <!--  GOSIWON for MAP  -->
    <resultMap id="gosiwonForMap" type="com.kb.room.vo.Gosiwon">
        <id property="gswId" column="GSW_ID" />
        <result property="title" column="TITLE" />
        <result property="genderLimit" column="GENDER_LIMIT" />
        <result property="ageMax" column="AGE_MAX" />
        <result property="ageMin" column="AGE_MIN" />

        <!-- Room Association -->
        <association property="room" resultMap="roomForMap" />
    </resultMap>

    <!--  SHAREHOUSE for MAP  -->
    <resultMap id="shareHouseForMap" type="com.kb.room.vo.ShareHouse">
        <id property="shhId" column="SHH_ID" />
        <result property="title" column="TITLE" />
        <result property="genderLimit" column="GENDER_LIMIT" />
        <result property="ageMax" column="AGE_MAX" />
        <result property="ageMin" column="AGE_MIN" />
        <result property="accomoCnt" column="ACCOMO_CNT" />

        <!-- Room Association -->
        <association property="room" resultMap="roomForMap" />
    </resultMap>

    <!--  ONETWOROOM for MAP  -->
    <resultMap id="onetwoRoomForMap" type="com.kb.room.vo.OnetwoRoom">
        <id property="otrId" column="OTR_ID" />
        <result property="detailName" column="DETAIL_NAME" />
        <result property="roomType" column="ROOM_TYPE" />

        <!-- Room Association -->
        <association property="room" resultMap="roomForMap" />
    </resultMap>

    <!-- 대출 종류 조회 -->
    <select id="selectLoansByRoomId" parameterType="long" resultType="String">
        SELECT l.LOAN
        FROM ROOM_LOAN r LEFT JOIN LOAN_TYPE l ON r.LOAN_ID = l.LOAN_ID
        WHERE ROOM_ID = #{roomId}
    </select>

    <!--  지도 기반 근처 고시원 조회  -->
    <select id="selectGosiwonsByLocation" resultType="com.kb.room.dto.response.map.GosiwonMapDTO">
        <![CDATA[
            SELECT g.*, r.*,
                   (6371 * acos(cos(radians(#{lat}))
                                    * cos(radians(r.room_lat))
                                    * cos(radians(r.room_long) - radians(#{lng}))
                       + sin(radians(#{lat}))
                                    * sin(radians(r.room_lat)))) AS distance
            FROM GOSIWON g JOIN ROOM r ON g.room_id = r.room_id
            WHERE 1 = 1
            HAVING distance < 2
            ORDER BY distance;
        ]]>
    </select>

    <!--  지도 기반 근처 원투룸 조회  -->
    <select id="selectOnetwoRoomsByLocation" resultType="com.kb.room.dto.response.map.OnetwoRoomMapDTO">
        <![CDATA[
            SELECT o.*, r.*,
                   (6371 * acos(cos(radians(#{lat}))
                                    * cos(radians(r.room_lat))
                                    * cos(radians(r.room_long) - radians(#{lng}))
                       + sin(radians(#{lat}))
                                    * sin(radians(r.room_lat)))) AS distance
            FROM ONETWOROOM o JOIN ROOM r ON o.room_id = r.room_id
            WHERE 1 = 1
            HAVING distance < 1
            ORDER BY distance;
        ]]>
    </select>

    <!--  지도 기반 근처 공유주거 조회  -->
    <select id="selectShareHousesByLocation" resultType="com.kb.room.dto.response.map.ShareHouseMapDTO">
        <![CDATA[
            SELECT s.*, r.*,
                   (6371 * acos(cos(radians(#{lat}))
                                    * cos(radians(r.room_lat))
                                    * cos(radians(r.room_long) - radians(#{lng}))
                       + sin(radians(#{lat}))
                                    * sin(radians(r.room_lat)))) AS distance
            FROM SHAREHOUSE s JOIN ROOM r ON s.room_id = r.room_id
            WHERE 1 = 1
            HAVING distance < 2
            ORDER BY distance;
        ]]>
    </select>

    <!--  매물 유형 확인  -->
    <select id="selectRoomTypeByRoomId" resultType="java.lang.String" parameterType="Long">
        SELECT HOUSE_TYPE_CD FROM ROOM WHERE ROOM_ID = #{roomId}
    </select>

    <!--  매물 상세 정보 조회  -->
    <select id="selectGosiwonByRoomId" resultType="com.kb.room.dto.response.detail.info.GosiwonInfoDTO" parameterType="Long">
        SELECT r.*, g.*
        FROM ROOM r JOIN GOSIWON g
        ON r.ROOM_ID = g.ROOM_ID
        WHERE r.ROOM_ID = #{roomId}
    </select>
    <select id="selectShareHouseByRoomId" resultType="com.kb.room.dto.response.detail.info.ShareHouseInfoDTO" parameterType="Long">
        SELECT r.*, s.*
        FROM ROOM r JOIN SHAREHOUSE s
                         ON r.ROOM_ID = s.ROOM_ID
        WHERE r.ROOM_ID = #{roomId}
    </select>
    <select id="selectOnetwoRoomByRoomId" resultType="com.kb.room.dto.response.detail.info.OnetwoRoomInfoDTO" parameterType="Long">
        SELECT r.*, o.*
        FROM ROOM r JOIN ONETWOROOM o
                         ON r.ROOM_ID = o.ROOM_ID
        WHERE r.ROOM_ID = #{roomId}
    </select>

    <!--  관심매물 개수 카운트  -->
    <select id="getInterestedCountByRoomId" resultType="java.lang.Integer">
        SELECT count(*) FROM INTEREST_ROOM WHERE ROOM_ID = #{roomId}
    </select>

    <!--  로그인한 유저의 해당 매물에 대한 관심매물 확인  -->
    <select id="checkInterestedByRoomIdAndUserId" resultType="java.lang.Boolean">
        SELECT EXISTS(
            SELECT 1 FROM INTEREST_ROOM WHERE USER_ID = #{userId} AND ROOM_ID = #{roomId}
        )
    </select>

    <!--  관심매물 등록  -->
    <insert id="insertInterest">
        INSERT INTO INTEREST_ROOM VALUES(default, #{userId}, #{roomId}, default)
    </insert>

    <!--  관심매물 삭제  -->
    <delete id="deleteInterest">
        DELETE FROM INTEREST_ROOM WHERE USER_ID = #{userId} AND ROOM_ID = #{roomId}
    </delete>

    <!--  모든 사용자 리뷰 조회  -->
    <select id="selectUserReviewsOfRoom" resultType="com.kb.room.dto.response.detail.review.UserReviewDTO" parameterType="Long">
        SELECT r.URV_ID urvId, r.ROOM_ID roomId, r.USER_ID userId, u.pic pic, u.NICKNAME nickname, r.CONTENT content, r.UPDATED_AT updatedAt, r.CREATED_AT createdAt
        FROM USER_REVIEW r JOIN USER u ON r.USER_ID = u.USER_ID
        WHERE r.ROOM_ID = #{roomId} AND r.IS_DELETED = false
    </select>

    <!-- 사용자 리뷰 작성 -->
    <insert id="insertUserReview" useGeneratedKeys="true"  keyProperty="urvId">
        INSERT INTO USER_REVIEW (ROOM_ID, USER_ID, CONTENT) VALUES (#{roomId}, #{userId}, #{content})
    </insert>

<!--    <select id="myRoomList" resultType="com.kb.room.vo.Room">-->
<!--        SELECT * FROM ROOM where user_id = #{userId}-->
<!--    </select>-->

    <!--  부동산 작성 [ROOM]  -->
    <insert id="saveRoom" parameterType="com.kb.room.vo.Room" useGeneratedKeys="true" keyProperty="roomId">
        INSERT INTO ROOM
            (USER_ID, ROOM_LAT, ROOM_LONG, THUMBNAIL, ADDRESS, HOUSE_TYPE_CD, HOUSE_TYPE_NM, CAN_LOAN, POSTCODE,
             PRIVATE_FACILITIES, SERVICES, LANGUAGES, ETC, DESCRIPTION, PICS,
             PRICE_MIN, PRICE_MAX, DEPOSIT_MIN, DEPOSIT_MAX, MAINTENANCE_FEE, CONTRACT_MIN,
             FACILITY_HEATING, FACILITY_COOLING, FACILITY_LIFE, FACILITY_SECURITY,
             BUILDING_TYPE, CAN_PARKING, HAS_ELEVATOR,
             IS_SOLD_OUT,
             UPDATED_AT, CREATED_AT)
        VALUES
            (#{userId}, #{roomLat}, #{roomLong}, #{thumbnail}, #{address}, #{houseTypeCd}, #{houseTypeNm}, #{canLoan}, #{postcode},
             #{privateFacilities}, #{services}, #{languages}, #{etc}, #{description}, #{pics},
             #{priceMin}, #{priceMax}, #{depositMin}, #{depositMax}, #{maintenanceFee}, #{contractMin},
             #{facilityHeating}, #{facilityCooling}, #{facilityLife}, #{facilitySecurity},
             #{buildingType}, #{canParking}, #{hasElevator},
             #{isSoldOut},
             NOW(), NOW())

        <selectKey keyProperty="roomId" resultType="long" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <!--  고시원 작성  -->
    <insert id="saveGosiwon" parameterType="com.kb.room.vo.Gosiwon" useGeneratedKeys="true" keyProperty="gswId">
        <![CDATA[
            INSERT INTO GOSIWON (ROOM_ID, TITLE, GENDER_LIMIT, AGE_MAX, AGE_MIN)
            VALUES (#{room.roomId}, #{title}, #{genderLimit}, #{ageMax}, #{ageMin})
        ]]>
    </insert>

    <!--  원/투룸 작성  -->
    <insert id="saveOneTwoRoom" parameterType="com.kb.room.vo.OnetwoRoom" useGeneratedKeys="true" keyProperty="gswId">
        <![CDATA[
        INSERT INTO ONETWOROOM (ROOM_ID, DETAIL_NAME, ROOM_TYPE)
        VALUES (#{room.roomId}, #{detailName}, #{roomType})
        ]]>
    </insert>

    <!--  쉐어하우스 작성  -->
    <insert id="saveShareHouse" parameterType="com.kb.room.vo.ShareHouse" useGeneratedKeys="true" keyProperty="gswId">
        <![CDATA[
        INSERT INTO SHAREHOUSE (ROOM_ID, TITLE, GENDER_LIMIT, AGE_MAX, AGE_MIN, ACCOMO_CNT)
        VALUES (#{room.roomId}, #{title}, #{genderLimit}, #{ageMax}, #{ageMin}, #{accomoCnt})
        ]]>
    </insert>

    <!--  대출 가능할 경우 부동산과 대출 연결   -->
    <insert id="saveRoomWithLoan" parameterType="com.kb.room.vo.RoomWithLoan" useGeneratedKeys="true" keyProperty="roomLoanId">
        INSERT INTO ROOM_LOAN (ROOM_ID, LOAN_ID) VALUES (#{roomId}, #{loanId})
    </insert>

    <!--  해당하는 구의 매물별 최고가/최저가/평균가 계산  -->
    <select id="calculateGosiwonPricesOfGu" parameterType="string" resultType="com.kb.room.dto.response.detail.status.GuStatus">
        SELECT
            MAX(r.PRICE_MAX) AS maxPrice,
            AVG(r.PRICE_MAX) AS avgPrice,
            MIN(r.PRICE_MAX) AS minPrice
        FROM GOSIWON g INNER JOIN ROOM r ON g.ROOM_ID = r.ROOM_ID
        WHERE r.ADDRESS IS NOT NULL AND r.ADDRESS LIKE CONCAT('%', #{gu}, '%');
    </select>

    <select id="calculateShareHousePricesOfGu" parameterType="string" resultType="com.kb.room.dto.response.detail.status.GuStatus">
        SELECT
            MAX(r.PRICE_MAX) AS maxPrice,
            AVG(r.PRICE_MAX) AS avgPrice,
            MIN(r.PRICE_MAX) AS minPrice
        FROM SHAREHOUSE s INNER JOIN ROOM r ON s.ROOM_ID = r.ROOM_ID
        WHERE r.ADDRESS IS NOT NULL AND r.ADDRESS LIKE CONCAT('%', #{gu}, '%');
    </select>

    <select id="calculateOnetwoRoomPricesOfGu" parameterType="string" resultType="com.kb.room.dto.response.detail.status.GuStatus">
        SELECT
            MAX(r.PRICE_MAX) AS maxPrice,
            AVG(r.PRICE_MAX) AS avgPrice,
            MIN(r.PRICE_MAX) AS minPrice
        FROM ONETWOROOM o INNER JOIN ROOM r ON o.ROOM_ID = r.ROOM_ID
        WHERE r.ADDRESS IS NOT NULL AND r.ADDRESS LIKE CONCAT('%', #{gu}, '%');
    </select>


    <!--    &lt;!&ndash;  메인: 관심 지역 최신 4개 고시원 조회  &ndash;&gt;-->
<!--    <select id="findLatestFourAtInterestArea" resultMap="gosiwonResultMap">-->
<!--        SELECT * FROM GOSIWON g-->
<!--        JOIN ROOM r ON g.ROOM_ID = r.ROOM_ID-->
<!--        WHERE r.ADDRESS LIKE CONCAT('%', #{address}, '%') AND g.IS_SOLD_OUT = "0"-->
<!--        ORDER BY r.CREATED_AT DESC LIMIT 4-->
<!--    </select>-->

<!--    &lt;!&ndash;  메인: 관심 지역 맵 전체 매물 조회  &ndash;&gt;-->
<!--    <select id="findRoomByLocation" resultType="com.kb.room.vo.Room">-->
<!--        <![CDATA[-->
<!--            SELECT r.*,-->
<!--                   (6371 * acos(cos(radians(#{lat}))-->
<!--                                    * cos(radians(r.room_lat))-->
<!--                                    * cos(radians(r.room_long) - radians(#{lng}))-->
<!--                       + sin(radians(#{lat}))-->
<!--                                    * sin(radians(r.room_lat)))) AS distance-->
<!--            FROM ROOM r-->
<!--            WHERE 1 = 1-->
<!--            HAVING distance < 1-->
<!--            ORDER BY distance;-->
<!--        ]]>-->
<!--    </select>-->

</mapper>
