<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kb.search.mapper.SearchMapper">


    <select id="findAllUniversity" resultType="com.kb.search.dto.University">
        SELECT
           *
        FROM university_subway
    </select>

    <select id="findOneUniversity" parameterType="String" resultType="com.kb.search.dto.SearchParam">
        SELECT
            lat,
            lng
        FROM
            university_subway
        WHERE
            name LIKE CONCAT('%', #{name}, '%')
            LIMIT 1;
    </select>


</mapper>
