<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kb.community.mapper.CommunityCmtMapper">

    <!--  댓글 작성  -->
    <insert id="saveCmt" parameterType="com.kb.community.dto.request.CommentPostDTO">
        INSERT INTO COMMUNITY_CMT VALUES(default, #{communityId}, #{userId}, #{content}, now(), now(), false);

        <selectKey keyProperty="cmtId" resultType="long" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <!--  특정 댓글 조회  -->
    <select id="findOneByCmtId" resultType="com.kb.community.dto.response.CommentDetailDTO" parameterType="long">
        SELECT c.CMT_ID, u.USER_ID, u.NICKNAME, u.PIC, c.CONTENT, c.CREATED_AT
        FROM COMMUNITY_CMT c JOIN USER u
        ON c.USER_ID = u.USER_ID
        WHERE c.COMMUNITY_ID = #{communityId}
    </select>

    <!--  커뮤니티 글의 모든 댓글을 오래된 순으로 조회  -->
    <select id="findAllByCommunityId" resultType="com.kb.community.dto.response.CommentDetailDTO" parameterType="long">
        SELECT c.CMT_ID, u.USER_ID, u.NICKNAME, u.PIC, c.CONTENT, c.CREATED_AT
        FROM COMMUNITY_CMT c JOIN USER u
        ON c.USER_ID = u.USER_ID
        WHERE c.COMMUNITY_ID = #{communityId}
        ORDER BY c.CREATED_AT;
    </select>

    <!-- 댓글 수정 -->
    <update id="updateCmt" parameterType="com.kb.community.dto.request.CommentModifyDTO">
        UPDATE COMMUNITY_CMT SET CONTENT = #{content}, UPDATED_AT = now() WHERE CMT_ID = #{cmtId};
    </update>

    <!-- 댓글 삭제 -->
    <delete id="deleteCmtByCmtId" parameterType="long">
        DELETE FROM COMMUNITY_CMT WHERE CMT_ID = #{cmtId};
    </delete>

</mapper>
