<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kb.community.mapper.CommunityCmtMapper">

    <!--  커뮤니티 댓글 작성자 닉네임 RM -->
    <resultMap id="communityMemberRM" type="com.kb.member.dto.Member">
        <result property="name" column="name" />
        <result property="id" column="id" />
    </resultMap>

    <!-- 커뮤니티 댓글 RM  -->
    <resultMap id="communityCmtRM" type="com.kb.community.vo.CommunityCmt" extends="communityMemberRM">
        <id property="cmtId" column="cmt_id" />
        <result property="communityId" column="community_id" />
        <result property="mNo" column="mNo" />
        <result property="content" column="content" />
        <result property="createdAt" column="created_at" />
        <result property="updatedAt" column="updated_at" />
        <result property="isDeleted" column="is_deleted" />
    </resultMap>

    <!--  댓글 작성  -->
    <insert id="saveCmt" parameterType="com.kb.community.vo.CommunityCmt">
        INSERT INTO COMMUNITY_CMT VALUES(default, #{communityId}, #{mNo}, #{content}, now(), now(), false);

        <selectKey keyProperty="cmtId" resultType="long" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <!--  댓글 조회  -->
    <select id="getOneByCmtId" resultMap="communityCmtRM" parameterType="long">
        SELECT c.CMT_ID, m.MNO as mNo, m.id as memberId, m.name as memberName, c.CONTENT, c.CREATED_AT, c.UPDATED_AT
        FROM COMMUNITY_CMT c, member m
        WHERE c.CMT_ID = #{cmtId} AND m.mno = c.M_NO
    </select>

    <!--  커뮤니티 글의 모든 댓글을 오래된 순으로 조회 :: 삭제되지 않은 댓글 제한  -->
    <select id="getAllByCommunityId" resultMap="communityCmtRM" parameterType="long">
        SELECT c.CMT_ID, m.mno as mNo, m.id as memberId, m.name as memberName, c.CONTENT, c.CREATED_AT
        FROM COMMUNITY_CMT c, member m
        WHERE c.COMMUNITY_ID = #{communityId} AND c.IS_DELETED = false AND m.mno = c.M_NO
        ORDER BY c.CREATED_AT;
    </select>

    <!-- 댓글 수정 -->
    <update id="updateCmt">
        UPDATE COMMUNITY_CMT SET CONTENT = #{content} WHERE CMT_ID = #{cmtId};
    </update>

    <!-- 댓글 삭제 -->
    <delete id="deleteCmtByCmtId">
        UPDATE COMMUNITY_CMT SET IS_DELETED = true WHERE CMT_ID = #{cmtId};
    </delete>

</mapper>
