<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kb.interest.mapper.InterestMapper">

    <select id="getUserInterestRoom" resultType="com.kb.interest.dto.InterestRoom">
        select *
        from INTEREST_ROOM
        where user_Id = #{userId}
    </select>

    <insert id="addInterestRoom" parameterType="com.kb.interest.dto.InterestRoom">
        INSERT INTO INTEREST_ROOM (user_Id, room_Id, created_At)
        VALUES (#{userId}, #{roomId}, NOW())
    </insert>

    <delete id="deleteInterestRoom" parameterType="com.kb.interest.dto.InterestRoom">
        DELETE FROM INTEREST_ROOM
        WHERE user_Id = #{userId} AND room_Id = #{roomId}
    </delete>

    <select id="isFavoriteRoom" resultType="com.kb.interest.dto.InterestRoom">
        select *
        from INTEREST_ROOM
        where user_Id = #{userId} And room_id = #{roomId}
    </select>

    <select id="isSoldOutInfo" resultType="com.kb.room.dto.IsSoldOut">
        SELECT
            r.ROOM_ID AS roomId,
            COALESCE(j.IS_SOLD_OUT, s.IS_SOLD_OUT, g.IS_SOLD_OUT) AS isSoldOut
        FROM
            ROOM r
                LEFT JOIN JACHI j ON r.ROOM_ID = j.ROOM_ID
                LEFT JOIN SHAREHOUSE s ON r.ROOM_ID = s.ROOM_ID
                LEFT JOIN GOSIWON g ON r.ROOM_ID = g.ROOM_ID
        WHERE
            r.USER_ID = #{userId}
    </select>


    <select id="myfavoiteRoom" resultType="com.kb.room.vo.Room">
        select *
        from INTEREST_ROOM i inner join ROOM r on i.room_id = r.room_id
        where i.user_id = #{userId}
    </select>
</mapper>
